


.forgot-pass p {
  font-size: 12px;
  color: #242424;
}
.forgotBtn {
  font-size: 18px;
  color: #eee;
  transition: all 0.2s;
  cursor: pointer;
}
.forgotBtn:hover {
  color: orangered;
}
